[run]
omit =
    */tests/*
    */venv/*
    */migrations/*
    manage.py
    seeders.py
    reset_migrations.py

[report]
include =
    borroo/*
    chats/*
    objetos/*
    pagos/*
    rentas/*
    tickets/*
    usuarios/*

exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if __name__ == '__main__':
