DB_ENGINE=django.db.backends.mysql
DB_NAME=borroo
DB_USER=borroo
DB_PASSWORD=Borroo2025
DB_HOST=localhost
DB_PORT=3306
IMGBB_API_KEY=7ae0a25034a1f923104e51551aac02cd

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=borroohelp@gmail.com
EMAIL_HOST_PASSWORD='seek hhts ehnn fayy'
DEFAULT_FROM_EMAIL=borroohelp@gmail.com


RECOVER_PASSWORD=http://localhost:5173/

VITE_STRIPE_PUBLIC_KEY = "pk_test_51R40o5CYu4v8DwUZa9XqJ5Z8F72qzFJ229ZOpYvV9toOHxPpJJAAF4kHllmFo3LUcAB8DvLcOsNYuq7XWuxLmQfu00P1I1hNXP"
STRIPE_SECRET_KEY = "sk_test_51R40o5CYu4v8DwUZjoGIROJcsUyhnX5bsDH7ihfVuoNAn6IOgTqudxGBa7EBYV1qOw1DNPvALqzZvkthrvkABgJ300wxyvCwvY"
STRIPE_PUBLIC_KEY = "pk_test_51R40o5CYu4v8DwUZa9XqJ5Z8F72qzFJ229ZOpYvV9toOHxPpJJAAF4kHllmFo3LUcAB8DvLcOsNYuq7XWuxLmQfu00P1I1hNXP"
JWT_SECRET_KEY = "1256c471b77591fb6b07fb30a52d4209693617cc0896b2ec8347c7954a945d5d"

FERNET_KEY="LuhAZ11lDHfpMLplOU-cM8mkdgPik5mXPiUQS_NwR3U="