# Ignorar archivos y carpetas innecesarias
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3
*.DS_Store
node_modules/
venv/
env/
tests/

# NO ignorar estas carpetas importantes
!*.py
!tickets/
!tickets/migrations/